body{
  font-size: 16px;
  background: linear-gradient(45deg,#1476bf,#1475bf8c );
  /* background-color:#1476bf; */
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.main-style{
  width: 40vw;
  height: 70vh;
  min-width: 30vw;
  background-color: white;
  /* background-color: rgba(255, 255, 255, 0.815); */
  /* background: linear-gradient(45deg, #005897, whitesmoke); */
  border-radius: 10px;
  box-shadow: 0px 0px 60px #005897;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  position: fixed;
  top: 5%;
  font-size: 1.7em;
  color:#005fa3;
  font-weight: bolder;
  cursor: pointer;
}
.title::before{
  content: attr(data-spotlight);
  position: absolute;
  color: rgb(136, 203, 231);
  mask: linear-gradient(to left bottom, red, transparent );
  -webkit-mask:linear-gradient(to left bottom, red, transparent );
}
/* 表单步骤 */
.step{
  width: 20vw;
  height: 2vh;
  margin-top: 15vh;
  display: flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
  
}
.step-item-circle{
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 100%;
  text-align: center;
  line-height: 1.3vw;
  color: white;
  border: 2px solid #3a52637e;
}
.step-item-road{
  height: .8vh;
  width: 20%;
  border: 1px dotted #0058977e;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.step-item-circle-finish{
  background-color: #007cdb;
  border: 1px solid #005897;
}
.step-item-circle-blank{
  color: #0058977e;
  border: 1px solid #007cdb;
}
/* 表单 */
.form{
  padding: 5%;
  padding-top: 1% !important;
  border-radius: 5px;
  background-color: rgba(243, 244, 245, 0.3);
}
.form-col{
  display: flex;
  margin-top: 20px;

}
.form-col2{
  flex-direction: column;
  align-items: center;

}
.form-item{
  width: 15vw;
  height: 5vh;
  text-align: center;
  margin-top: 20px;
}
.form-item-input{
  background-color: white;
  font-size: 0.9rem;
  color: #005897;
  width: 80%;
  height: 80%;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  border: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);
  /* border: 0.1px solid #0058973f; */
  text-align: center;
}
.form-item-input-long{
  width: 100%;
}
.form-item-input:focus{
  border-radius: 5px;
  background-color: whitesmoke;
}
.form-item-input::placeholder{
  color: rgba(128, 128, 128, 0.5);
}
.form-item-switch{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px);
 
 
}
.form-btn{
  width: 20%;
  height: 70%;
  border-radius: 5px;
  border: none;
  /* border: 1px solid gainsboro; */
}
.form-btn-next{
  outline: none;
  color: whitesmoke;
  background-color: #0272c2;
  /* background: linear-gradient(45deg,#0261a5, rgb(116, 171, 243) ); */
}
.form-btn-last{
  outline: none;
  color: #005897;
  background-color: rgb(224, 224, 224);
}

.form-btn-next:hover{
  cursor: pointer;
  background-color: #007cdb;
  outline: none;
}
.form-btn-last:hover{
  cursor: pointer;
  background-color: gainsboro;
}
.form-page-one{
  -moz-transition: 0.5 ease-out;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.form-page-two{
  display: none;
}