body{
  font-size: 16px;
  background: linear-gradient(45deg,#1476bf,#1475bf8c );
  /* background-color:#1476bf; */
}
.please{
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  color: whitesmoke;
  padding: 0 20px 0 20px;
  border-radius: 5px;
  box-shadow: 50px orange;
  background-color: #005897;
}
.please::before{
  content: '!';
  color: orange;
  padding-right: 20px;
  font-size: 1em;
  font-weight: bold;
}
.please-appear{
  top: 5%;
  transition: 1s ease;
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.main-style{
  width: 40vw;
  height: 70vh;
  min-width: 30vw;
  background-color: white;
  /* background-color: rgba(255, 255, 255, 0.815); */
  /* background: linear-gradient(45deg, #005897, whitesmoke); */
  border-radius: 10px;
  box-shadow: 0px 0px 60px #005897;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.to-login{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.6em;
  box-shadow: 4px #007cdb4f;
  
}
.to-login > a{
  color: rgba(0, 124, 219, 0.5);
  text-decoration: none;
  font-size: 0.9em;
}
.to-login > a::after{
  content: '?';
  color: orange;
  font-weight: bold;
}
.to-login:hover::before{
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 6em;
  text-align: center;
  content: '返回登录';
  color: whitesmoke;
  background-color: #007cdb;
  /* background-color: orange; */
  border-radius: 10px 0 10px 0;
  transition: 1s ease;
}
.title{
  position: fixed;
  top: 5%;
  font-size: 1.8em;
  color:#005fa3;
  font-weight: bolder;
  cursor: pointer;
}
.title::before{
  content: attr(data-spotlight);
  position: absolute;
  color: rgb(136, 203, 231);
  mask: linear-gradient(to left bottom, red, transparent );
  -webkit-mask:linear-gradient(to left bottom, red, transparent );
}
/* 表单步骤 */
.step{
  position: absolute;
  top: 10%;
  width: 20vw;
  height: 2vh;
  margin-top: 10vh;
  display: flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}
.step-item-circle{
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 100%;
  text-align: center;
  line-height: 1.2vw;
  border: 2px solid #1188dd7e;
  color: #0058977e;
}
.step-item-circle-blank{
  background-color: white;
}
.step-item-circle-finish{
  color: white;
  background-color: #007cdb;
  border: 5px double orange;
  width: 1vw;
  height: 1vw;
  line-height: 1vw;
  /* width: 1.5vw;
  height: 1.5vw;
  line-height: 1.5vw; */
}

.step-item-road{
  height: .8vh;
  width: 20%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.step-item-road-blank{
  background-color: white;
}
.step-item-road-finish{
  background-color: #007cdb;
}

/* 表单 */
.form{
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  border-radius: 5px;
  /* background-color: rgba(243, 244, 245, 0.3); */
}

.form-col{
  display: flex;
  margin-top: 10px;
}
.form-col2{
  flex-direction: column;
  align-items: center;

}
.form-item{
  width: 15vw;
  height: 5vh;
  text-align: center;
  margin-top: 20px;
}

.form-item-input{
  background-color: white;
  font-size: 0.9rem;
  color: #005897;
  width: 80%;
  height: 80%;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  border: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);
  /* border: 0.1px solid #0058973f; */
  text-align: center;
}
.form-item-input-long{
  width: 100%;
}
.form-item-input:focus{
  border-radius: 5px;
  background-color: whitesmoke;
}
.form-item-input::placeholder{
  color: rgba(128, 128, 128, 0.5);
}
.form-item-switch{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 2%;
  padding-top: 2%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /* width: 100%; */
}
.form-btn{
  width: 20%;
  height: 70%;
  border-radius: 5px;
  border: none;
  /* border: 1px solid gainsboro; */
}
.form-btn-next{
  outline: none;
  color: whitesmoke;
  background-color: #0272c2;
  /* background: linear-gradient(45deg,#0261a5, rgb(116, 171, 243) ); */
}
.form-btn-last{
  outline: none;
  color: #005897;
  background-color: rgb(224, 224, 224);
}

.form-btn-next:hover{
  cursor: pointer;
  background-color: #007cdb;
  outline: none;
}
.form-btn-last:hover{
  cursor: pointer;
  background-color: gainsboro;
}
.form-page-two{
  display: none;
}
.form-page-three{
  display: none;
}
.form-page-three .form-col:first-child{
 margin-top: -2vh;
  
}
label{
  padding: 2em;
  font-size: 0.8em;
  color: #005897;
}